:root {
  --canvasColor: #f9f9f9;
}

body {
  background: var(--canvasColor);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
  transition: all 0.3s ease;

}


main {
  --neutralShade1: #f2f2f2;
  --neutralShade2: #e8e9e9;
  --neutralShade3: #d1d3d4;
  --neutralShade4: #babdbf;
  --neutralShade5: #808488;
  --neutralShade6: #666a6d;
  --neutralShade7: #4d5052;
  --neutralShade8: #212122;
  --grayColor: #999;
  --lightGrayColor: #ddd;
  --borderRadius: 6px;
  --boxShadow: 0 2px 5px rgba(#333, 0.2);
}

/*overall layout*/
main {
  margin: 3em auto 8em;
  color: var(--foregroundColor);
  text-align: left;

}

/*colors*/
.palette {
  display: grid;
  grid: 80px 45px min-content/repeat(5, minmax(50px, 1fr));
  margin-bottom: 1em;
}
.palette__main {
  grid-column: span 5;
}
.palette h5 {
  grid-column: span 5;
  text-align: left;
  padding: 10px 0;
}

/*typography*/
strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

h1 {
  font: 700 48px/1.2 "Poppins", sans-serif;
  margin-bottom: 10px;
}

h2 {
  font: 700 32px/1.2 "Poppins", sans-serif;
  margin-bottom: 10px;
}

h3 {
  font: 700 24px/1.2 "Poppins", sans-serif;
  margin-bottom: 10px;
}

h4 {
  font: 700 20px/1.2 "Poppins", sans-serif;
  margin-bottom: 10px;
}

h5 {
  font: 500 18px/1.2 "Poppins", sans-serif;
  margin-bottom: 10px;
}

h6 {
  font: 500 16px/1.2 "Poppins", sans-serif;
  text-transform: uppercase;
}

/*buttons & links*/
a.button {
  outline: none;
  width: 100%;
  text-align: center;
  display: inline-block;
  border: none;
  font: 500 16px/1 "Poppins", sans-serif;
  padding: 20px;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background: var(--primaryColor);
  color: var(--backgroundColor);
  position: relative;
  top: 0;
  transition: 0.2s ease;
}
a.button:hover, a.button.hover {
  top: -3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
a.button:active, a.button.active {
  background: var(--primaryShade4);
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  top: 0;
}
a.button.disabled {
  opacity: 0.4;
  user-select: none;
  pointer-events: none;
}
a.button.medium {
  padding: 15px 18px;
  width: auto;
  margin-right: 20px;
  margin-bottom: 20px;
}
a.button.small {
  padding: 10px 12px;
  width: auto;
  font-size: 14px;
  font-weight: 500;
}
a.button.secondary {
  background: var(--secondaryColor);
}
a.button.secondary:active, a.button.secondary:focus, a.button.secondary.active {
  background: var(--secondaryShade4);
  outline: none;
}
a.button.accent {
  background: var(--accentColor);
}
a.button.accent:active, a.button.accent:focus, a.button.accent.active {
  background: var(--accentShade4);
}
a.button.accent2 {
  background: var(--accent2Color);
}
a.button.accent2:active, a.button.accent2:focus, a.button.accent2.active {
  background: var(--accent2Shade4);
}
a.button.accent3 {
  background: var(--accent3Color);
}
a.button.accent3:active, a.button.accent3:focus, a.button.accent3.active {
  background: var(--accent3Shade4);
}

/*variations*/
input.variation {
  display: none;
}
input.variation + label {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 70px 20px 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 6px solid #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}

#bluepurple + label {
  background: linear-gradient(to left, #673ab7 50%, #03a9f4 50%);
}

#pinkaru + label {
  background: linear-gradient(to right, #f95794 50%, #323da5 50%);
}
#pinkaru ~ main {
  border-color: #fff;
  --canvasColor: #2a313b;
  --backgroundColor: #2a313b;
  --foregroundColor: #e3f2fd;
  --primaryColor: #f95794;
  --primaryShade5: #fdd1e1;
  --primaryShade4: #fba3c4;
  --primaryShade3: #fa75a7;
  --primaryShade2: #e35087;
  --primaryShade1: #b6406c;
  --secondaryColor: #323da5;
  --secondaryShade5: #c7cae6;
  --secondaryShade4: #8f95cd;
  --secondaryShade3: #6971bd;
  --secondaryShade2: #2e3896;
  --secondaryShade1: #293288;
  --accentColor: #FFC729;
  --accentShade5: #ffefc4;
  --accentShade4: #ffe08a;
  --accentShade3: #ffd14f;
  --accentShade2: #e8b526;
  --accentShade1: #d1a322;
  --accent2Color: #53dd6c;
  --accent2Shade5: #d0f5d6;
  --accent2Shade4: #a1ecae;
  --accent2Shade3: #72e386;
  --accent2Shade2: #4cc963;
  --accent2Shade1: #3da14f;
  --accent3Color: #f52f57;
  --accent3Shade5: #fcc6d1;
  --accent3Shade4: #f98da3;
  --accent3Shade3: #f65475;
  --accent3Shade2: #df2b50;
  --accent3Shade1: #b32340;
}

#pinkaru2 ~ main {
  border-color: #fff;
  --canvasColor: #94bffa;
  --backgroundColor: #7742cc;
  --foregroundColor: #e3f2fd;
  --primaryColor: #57f985;
  --primaryShade5: #32b858;
  --primaryShade4: #2bb85a;
  --primaryShade3: #3ee475;
  --primaryShade2: #3ee475;
  --primaryShade1: #3ee475;
  --secondaryColor: #3ee475;
  --secondaryShade5: #c7cae6;
  --secondaryShade4: #8f95cd;
  --secondaryShade3: #6971bd;
  --secondaryShade2: #57f9a8;
  --secondaryShade1: #57f9a8;
  --accentColor: #FFC729;
  --accentShade5: #ffefc4;
  --accentShade4: #ffe08a;
  --accentShade3: #ffd14f;
  --accentShade2: #e8b526;
  --accentShade1: #d1a322;
  --accent2Color: #53dd6c;
  --accent2Shade5: #d0f5d6;
  --accent2Shade4: #a1ecae;
  --accent2Shade3: #72e386;
  --accent2Shade2: #4cc963;
  --accent2Shade1: #3da14f;
  --accent3Color: #f52f57;
  --accent3Shade5: #fcc6d1;
  --accent3Shade4: #f98da3;
  --accent3Shade3: #f65475;
  --accent3Shade2: #df2b50;
  --accent3Shade1: #b32340;
}


#pinkaru:checked ~ main > section {
  border-color: #fff;
}
#pinkaru:checked ~ main > section > h6 {
  color: #fff;
}

footer {
  display: grid;
  text-align: center;
  width: 90%;
  margin: 1em auto 4em;
  max-width: 800px;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: #333;
  padding: 3px 0;
  border-bottom: 1px dashed;
}
footer a:hover {
  border-bottom: 1px solid;
}
footer .social a {
  text-decoration: none !important;
  margin-top: 20px;
  margin-left: 10px;
  border-bottom: 0;
  display: inline-block;
}
footer .social a:hover {
  color: #666;
}
footer .social a .icons {
  display: inline-block;
  font-size: 20px;
}
footer.dark, footer.dark a {
  color: #f9f9f9;
}

.profile {
  position: relative;
  background: var(--backgroundColor);
  color: var(--foregroundColor);
  box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
  border-radius: 10px;
  transition: 0.2s ease;
}
.profile__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile__stats__title {
  color: var(--grayColor);
  text-transform: uppercase;
  font-size: 16px;
}
.profile a:hover {
  top: 0;
  box-shadow: none;
  background: var(--primaryShade4);
}
.profile a:active, .profile a:focus {
  top: 0;
  box-shadow: none;
  background: var(--primaryShade5);
}

.profile-default {
  min-width: 400px;
  max-width: 450px;
  margin: auto;
  overflow: hidden;
  display: grid;
  grid: 340px auto auto/repeat(3, minmax(80px, 1fr));
  grid-gap: 10px;
}
.profile-default .profile__image {
  grid-column: span 3;
}
.profile-default .profile__image img {
  border-bottom: 7px solid var(--secondaryColor);
}
.profile-default .profile__info {
  grid-column: span 3;
  margin: 20px 25px 0;
  width: 216%
}

.profile-default .profile__info2 {
  grid-column: span 3;
  margin: 20px 25px 0 147px;
}
.profile-default .profile__stats {
  margin: 12px 25px;
}
.profile-default .profile__cta {
  grid-column: span 3;
  margin: 0 25px 25px;
}

.profile-smallimg {
  width: 300px;
  border-radius: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  text-align: center;
}
.profile-smallimg .profile__image {
  margin-top: -40px;
}
.profile-smallimg .profile__image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid var(--backgroundColor);
  box-shadow: 0 0 0 7px var(--secondaryColor);
}
.profile-smallimg .profile__info {
  margin: 10px 30px 15px;
}
.profile-smallimg .profile__stats {
  margin: 0 30px 10px;
}

.profile-smallimg .profile__cta a {
  border-radius: 0 0 10px 10px;
}

.profile-long {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 100px;
  padding: 20px 20px 15px;
  min-width: 570px;
}
.profile-long .profile__image {
  grid-column: 5/6;
  margin-bottom: 10px;
}
.profile-long .profile__image img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.profile-long .profile__info {
  grid-column: 1/5;
  grid-row: 1;
  padding: 5px 20px 20px 0;
}
.profile-long .profile__stats {
  min-width: 100px;
  padding-top: 20px;
  border-top: 0.5px solid var(--grayColor);
}
.profile-long .profile__cta {
  grid-column: span 2;
  border-top: 0.5px solid var(--grayColor);
  padding-top: 15px;
}

.profile-table {
  display: grid;
  max-width: 780px;
  grid-template-columns: 100px 1fr auto;
  grid-auto-flow: dense;
  overflow: hidden;
}
.profile-table .profile__image {
  grid-column: 1;
}
.profile-table .profile__stats {
  display: none;
}
.profile-table .profile__info {
  grid-column: 2/5;
  padding: 20px 15px 20px 20px;
}
.profile-table .profile__cta {
  grid-column: 5/6;
  align-self: center;
  padding-right: 25px;
}

.profile-wide {
  display: grid;
  grid-template-columns: auto repeat(3, 1fr);
  grid-auto-flow: dense;
 width: 470px;
 height: 450px;

}
.profile-wide .profile__image {
  padding: 30px 20px 20px;
  grid-row: 1/3;
}
.profile-wide .profile__image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid var(--backgroundColor);
  box-shadow: 0 0 0 4px var(--secondaryColor);
}
.profile-wide .profile__stats {
  margin-bottom: 12px;
}
.profile-wide .profile__info {
  grid-column: span 3;
  padding: 25px 25px 15px 0;
}
.profile-wide .profile__cta {
  grid-column: span 4;
}
.profile-wide .profile__cta a {
  border-radius: 0 0 10px 10px;
}

.profile-imgonly {
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  display: grid;
  grid: 390px 0px/100%;
}
.profile-imgonly:hover {
  grid: 334px 56px/100%;
}
.profile-imgonly .profile__image, .profile-imgonly .profile__info {
  grid-row: 1/2;
  grid-column: 1/2;
}
.profile-imgonly .profile__image {
  position: relative;
}
.profile-imgonly .profile__image:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
}
.profile-imgonly .profile__stats {
  display: none;
}
.profile-imgonly .profile__info {
  z-index: 5;
  grid-row: 1/2;
  align-self: end;
  margin: 10px 20px;
  color: #fff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.profile-imgonly .profile__info p {
  display: none;

}

.profile-imgonly .profile__cta a {
  border-radius: 0;
}

.profile-bigimg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 400px auto 0px;
  border-radius: 10px;
  width: 650px;
  overflow: hidden;
  margin: auto;
}
.profile-bigimg .profile__image {
  grid-column: span 3;
}
.profile-bigimg .profile__info {
  grid-column: span 2;
  align-self: center;
  padding: 20px 10px 20px 25px;
}
.profile-bigimg .profile__info h3 {
  margin-bottom: 0;
}
.profile-bigimg .profile__info__extra {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease 0.3s, margin 0.3s ease;
}
.profile-bigimg .profile__stats {
  display: none;
}
.profile-bigimg .profile__cta {
  padding: 20px 20px 20px 0;
  align-self: center;
}
.profile-bigimg:hover .profile__info__extra {
  display: block;
  max-height: 200px;
  margin: 10px 0 0;
  opacity: 1;
}

main {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  width: 400px;
  justify-content: center;

}

